// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #2ba8f4; /* Red */
  color: white;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 6px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: black;
}